VITE_API_URL=/api

# bura sadece admin paneli üçün istifadə olunur, backend üçün deyil. Backend üçün .env faylında GOOGLE_CLIENT_ID və ADMIN_GOOGLE_ALLOWED_EMAILS dəyişənləri əlavə olunub.
VITE_GOOGLE_CLIENT_ID=649332648254-tj4uq9lr5ng83tc9dpf0avauo79745co.apps.googleusercontent.com

# Ana saytın əlaqə formu bu WhatsApp nömrəsinə yönləndirir.
VITE_WHATSAPP_PHONE=994516278711
